body, html {
  height: 100%;
  font-family: Golos-Text-VF;

}

b {
  font-family: Golos-Text-Blod;
}


.limiter {
  width: 100%;
  margin: 0 auto;
}















@font-face {
  font-family: Golos-Text-Blod;
  src: url('../fonts/Golos-Text_Bold.ttf'); 
}

@font-face {
  font-family: Golos-Text-VF;
  src: url('../fonts/Golos-Text_VF.ttf'); 
}