.wrap-login200{
  width: 500px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 65px;
  padding-bottom: 54px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.label-input200 {
  font-family: Golos-Text_VF;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
}

.input200 {
  font-family: Golos-Text_VF;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 5px;
}